.background{
    background-image: url("../images/back2.jpg");
    background-size: cover;
}

.myContainer{
    background-color:rgba(0, 0, 0, 0.5);
    margin-top: 3rem;
    //align-content: center;
    text-align: center;
    width: 35%;
    //min-height: 400px;
    color: #ffffff;
    border-radius: 20px;
    padding-left: 3rem;
    padding-right: 3rem;
}

.heading{
    padding-top: 5px;
    font-family: SansSerif;
}

.nav-link{
    color: aqua;
    font-size: large;
    font-family: Arial;
}
